<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinzhe.aiassistant.mapper.DocumentChunkMapper">

    <resultMap id="BaseResultMap" type="com.xinzhe.aiassistant.entity.DocumentChunk">
            <id property="id" column="id" />
            <result property="documentId" column="document_id" />
            <result property="userId" column="user_id" />
            <result property="chunkText" column="chunk_text" />
            <result property="chunkNum" column="chunk_num" />
            <result property="embedding" column="embedding" />
            <result property="vectorNorm" column="vector_norm" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,document_id,user_id,chunk_text,chunk_num,embedding,
        vector_norm,created_at
    </sql>
</mapper>
